<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout.html"
>
<th:block layout:fragment="content">
	<form th:action="@{/places/add}" th:object="${placeForm}" method="post">
		<div class="mb-3">
			<label th:for="${#ids.next('name')}" class="form-label">장소명</label>
			<input type="text" class="form-control-lg" th:field="*{name}"  placeholder="장소명을 입력해주세요.">
		</div>
		<div class="mb-3">
			<label th:for="${#ids.next('address')}" class="form-label">주소</label>
			<input type="text" class="form-control-lg" th:field="*{address}" placeholder="주소를 입력해주세요.">
		</div>
		<div class="mb-3">
			<label class="form-label">후기</label>
			<input type="text" class="form-control-lg" th:field="*{review}" placeholder="주소를 입력해주세요.">
		</div>
		<div class="mb-3">
			<label class="form-label">평점</label>
			<select class="form-select-lg" aria-label="Default select example" th:field="*{grade}">
				<option th:selected="selected" value="1">1점</option>
				<option value="2">2점</option>
				<option value="3">3점</option>
				<option value="4">4점</option>
				<option value="5">5점</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">등록하기</button>
		<button type="button" th:onclick="'location.href=\'' + @{/} + '\''" class="btn btn-secondary">취소하기</button>
	</form>
</th:block>
</html>